
.logo h2 {

  text-align: center;

  font-size: 25px;
}
.flex-item li a {
  font-size: 10px;
  margin: 5px;
  padding: 5px;
}
.about-myself {
  font-size: 1.5rem;
  text-align: center;
}
.about-article-img {
  flex-direction: column;
  gap: 15px;
}

.experince-flex-item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 350px; */
}
.project {
  width: 80%;
  height: 500px;
  border: none;
}
/* .experience-box {
  width: 90%;
} */

.flex-item {
  display: none;
}
.article {

  padding: 10px;
}
.contact-width-flex {
  justify-content: center;
  flex-direction: column;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hambar {
  display: block;
  padding-right: 10px;
  color: white;
}
